#nav-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-menu li{
    float: left;
}

#nav-menu li a{
    display:block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;

}
